.body {
    display: flex;





}




.card_container {

    width: 80%;
    height: 100vh;
    display: flex;
    background-color: rgb(240, 232, 232);
    justify-content: center;
    justify-items: center;
    align-items: center;


}

.card_contain {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr;


}

.card {
    width: 250px;
    height: 250px;
    background-color: aqua;


}
.data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.data-table th, .data-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
