body{

  background-color: black;

}


.hero{
display: flex;
height: 100vh;
align-items: center;
justify-items: center;
justify-content: center;

}
.card {
  width: 350px;
 height: 350px;
  display: grid;
  grid-template-columns: 1fr ;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.btn_upload{
 padding: 3px;
 background-color: green;
 border-radius: 5px;
 margin-right: 150px;



}
.card_text{
display: flex;
text-align: center;
justify-content: center;
background-color: aqua;

}