.main_med {
    display: flex;
    color: white;

}

.card_container_med {

    width: 80%;
    height: 100vh;
    display: flex;
    background-color: brown;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.card_contain_med {


    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr;
}

.card_med {

    background-color: red;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    flex-direction: column;


}

.UP_in_box {
    margin: 2px;
    height: 30px;
    width: 70%;
    margin-left: 15%;
    border-radius: 4px;
    color: black;

}

.UP_btn_submit {
    margin-left: 45%;
    padding: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;

}

.UP_btn_submit:hover {
    margin-left: 45%;
    padding: 6px;
    background-color: blanchedalmond;
    border-radius: 5px;
    transition: .55s;

}

.Up_title {

    font-size: 25px;
    font-weight: bolder;
    color: black;
}
.search{

   
    height: 30px;
    width: 73%;
padding: 4px;
    border-radius: 4px;
    color: black;
    margin-right: 4%;
    font-size:20px;

}

.btn_search{

    background-color: aqua;
    padding: 3px;
    color: rgb(17, 10, 1);
    border-radius: 5px;
}
.search_form{
margin-bottom: 20%;
 


}
.search_form2{

margin-bottom: 35%;

}