.main_med {
    display: flex;


}

.card_container_med {

    width: 80%;
    height: 100vh;
    display: flex;
    background-color: brown;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card_contain_med {


    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 1fr;
}

.card_med {

    background-color: red;
    height: 500px;
    width: 500px;

    display: flex;

}