.sidebar {
    background-color: rgb(12, 1, 36);
    height: 100vh;
    width: 20%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile_image {
    margin-top: 2%;
    height: 100px;
    width: 100px;
    border-radius: 50px;



}

.ul {

    margin-top: 60%;
    width: 100%;

}

.li {
    background-color: black;
    border: 2px solid rgb(253, 251, 251);
    padding: 1%;
    cursor: pointer;
}

.li:hover {

    background-color: rgb(30, 28, 28);
    padding: 2%;

}
.U_btn{
padding: 5px;
font-size: larger;
border: 2px solid rgb(66, 64, 64);
margin-bottom: 1px;

}

.U_btn:hover{
    padding: 5px;
    cursor: pointer;
   background-color:  rgb(25, 2, 74);
    margin-bottom: 1px;
    
    }


.side_logo{
 font-size: larger;
 


}